<div id="avatarEditModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <% form_for :ava do |f| %>
        <%= link_to changeAva(1), remote: true do %>
          <%= image_tag('defAvaOne.jpg') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
