<div id="page-wrapper">
  <div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-4 pull-right clearfix">
    <%= form_for(:shout, url: shout_path, remote: true) do |f| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        Shoutbox
        <%= f.submit "Shout it!", class: "btn btn-success btn-xs pull-right kill-it" %>
      </div>
        <div class="panel-footer">
            <%= f.text_area :message,
                            placeholder: "Leave a shout for " + User.find(params[:id]).username,
                            id: 'shout-area',
                            class: 'form-control input-sm',
                            rows: 10,
                            cols: 50 %>
        </div>
    </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-8 pull-left clearfix" style="margin: 30px 0;">
    <ul class="chat">
      <% @conv.each do |notify| %>
        <%= render :partial => 'users/shoutmessage', locals: {shoutIndex: notify, pos: 0} %>
        <br/>
      <% end %>
    </ul>
  </div>
  </div>
</div>
