<div id="wrapper">
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <ul class="chat">
      <% @game.shouts.reverse.first(50).each_with_index do |notify, pos| %>
        <%= render :partial => 'users/shoutmessage', locals: {shoutIndex: notify, pos: pos} %>
        <br/>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-3">
  </div>
</div>
</div>
