<h1>The GameHub Team</h1>
<h4>Here are the people behind GameHub. Our team includes recent graduates from</p>
<p>Salt Lake City's World Famous <a href="http://www.devpointlabs.com/">DevPoint Labs.</a></p></h4>
<br>
<p>Preston Johnson</p>
<br>
<p>Rocco Nichols</p>
<br>
<p>Erik Burton</p>
