<h1>The GameHub Team</h1>
<h4>Here are the people behind GameHub. Our team includes recent graduates from</p>
<p>Salt Lake City's World Famous <a href="http://www.devpointlabs.com/">DevPoint Labs.</a></p></h4>

<hr>

Preston Johnson
<%= image_tag("placeholder.png", :alt => "Preston", :size => "200x200") %>
<i class="fa fa-facebook-square"></i>
<i class="fa fa-twitter-square"></i>
<i class="fa fa-github"></i>

Rocco Nichols
<%= image_tag("placeholder.png", :alt => "Rocco", :size => "200x200") %>
<i class="fa fa-facebook-square"></i>
<i class="fa fa-twitter-square"></i>
<i class="fa fa-github"></i>

Erik Burton
<%= image_tag("placeholder.png", :alt => "Erik", :size => "200x200") %>
<i class="fa fa-facebook-square"></i>
<i class="fa fa-twitter-square"></i>
<i class="fa fa-github"></i>
