<div class="container">
  <div class="row">

    <div class="margin-bottom col-md-12">
      <h1 id="id-1" class="class-one this-one spac3-tech">the gamehub team</h1>
      <p class="text-large">Here are the people behind GameHub. We are a team of kick-butt people who are passionate about coding and having fun. We are recent graduates from Salt Lake City's own <a href="http://www.devpointlabs.com/" target="_blank">DevPoint Labs.</a> Where we have just completed an intense immersion of 11 weeks (460+ hrs), full time curriculum taught by industry experts. Focusing on Full-Stack Web Development.</p>

      <p class="text-large">GameHub is a site in which games can be played to earn credits that are used to exchange for gift cards to various establishments or other types of rewards.</p>
    </div>
    <hr>

    <div class="margin-bottom col-sm-4 text-center">
      <%= image_tag("placeholder.png", :alt => "Preston", :size => "225x225") %>
      <h4>Preston Johnson</h4>
      <a href="mailto:fromhereonout@gmail.com"><i class="fa fa-envelope fa-2x"     style="color:#00CC00"></a></i>
      <a href="https://www.facebook.com/preston.johnson.39142" target="_blank"<i id="clicky" class="fa fa-facebook-square fa-2x" style="color:blue"></i></a>
      <a href="https://www.twitter.com/prestonvjohnson" target="_blank"<i class="fa fa-twitter-square fa-2x" style="color:#6699FF"></i></a>
      <a href="https://www.github.com/prestonplaybook" target="_blank"<i class="fa fa-github fa-2x"></a></i>
      <p>
        <span>Learning Ninja coding skills @ DPL</span><br/>
        <span>Loves back end web development</span><br/>
        <span>Sports enthusiast | Drop some music knowledge from time to time | I like food</span>
      </p>
    </div>

    <div class="margin-bottom col-sm-4 text-center">
      <%= image_tag("placeholder.png", :alt => "Rocco", :size => "225x225") %>
      <h4>Rocco Nicholls</h4>
      <a href="mailto:rocco11nicholls@gmail.com"><i class="fa fa-envelope fa-2x" style="color:#00CC00"></i></a>
      <a href="http://facebook.com/Rockster160" target="_blank"<i class="fa fa-facebook-square fa-2x" style="color:blue"></i></a>
      <a href="http://github.com/Rockster160" target="_blank"<i class="fa fa-github fa-2x"></i></a>
        <p>
          <span>Learning Ninja coding skills @ DPL</span><br/>
          <span>Loves front end web development</span><br/>
          <span>Enjoy riding my motorcycle on days off</span>
        </p>
    </div></a>

    <div class="margin-bottom col-sm-4 text-center">
      <%= image_tag("placeholder.png", :alt => "Erik", :size => "225x225") %>
      <h4>Erik Burton</h4>
      <a href="mailto:deverikburton@gmail.com"><i class="fa fa-envelope fa-2x" style="color:#00CC00"></i></a>
      <a href="http://www.facebook.com/erikburton" target="_blank"<i class="fa fa-facebook-square fa-2x"  style="color:blue"></i></a>
      <a href="http://www.twitter.com/Flamaddidle" target="_blank"<i class="fa fa-twitter-square fa-2x" style="color:#6699FF"></i></a>
      <a href="http://www.github.com/erikburton" target="_blank"<i class="fa fa-github fa-2x"></i></a>
      <p>
        <span>Learning Ninja coding skills @ DPL</span><br/>
        <span>Loves full stack web development</span><br/>
        <span>Plays drums when not programming</span>
      </p>
      </div>
    </div>
</div>
</html>
