//variables here: $primary: color;\
//lighten($primary, 10%)
$blendbg: rgb(227,227,227);
$blendbgdark: darken($blendbg, 10%);
$money: gold;
$border: purple;
$primaryfocus: green;
$placeholder: red;
$editing: rgb(250,255,177);
