<div id="gameInfoModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div id='store'>
        <% if game  %>
          <p><%= game.name %></p>
          <p><%= game.ava %></p>
        <% end  %>
    </div>
  </div>
</div>
