<div id="columnOne">
  <%= image_tag("gamehub.png", id: "avatar") %>
  <div id="game_trophies">

  </div>
</div>

  <div id="playNow">Play Now!</div>
<div id="columnTwo">
    <div id="Title">
      <h3>Welcome to GameHub Bowling!</h3>
    </div>
    <div id="bowlingbriefing">
      <p>This is a bowling game. Refer to page to view how to play.
      I need this to be longer so it can break onto two separate lines so that I can tell where the breaks are
      so that I can see how long it is so that I can figure out how big the trophies will need to be.</p>
    </div>
  <div id="description">
    <p>Scoring is done frame by frame. For each frame, you have two attempts to knock down all 10 standing pins.</p>
    <p>If all 10 pins are knocked down in the first try, it is called a strike. As a bonus, your next two balls (not frames) are doubled. These do stack.</p>
    <p>If all 10 pins are knocked down on the second try, it is called a spare. As a bonus, your first ball on your next frame will be doubled.</p>
    <p>In the tenth frame, spares and strikes do not give bonuses. Instead, if a spare or a strike is bowled, you get to have a total of 3 throws.</p>
    <p></p>
    <p>Coins will be awarded in the following manner:</p>
    <ul>
      <li>For each completed frame, you will earn 10 points.</li>
      <li>For each point earned, you will recieve 1 point.</li>
    </ul>
  </div>
  <div id="howTo">
    <p>At the start of your game, you will have the option to select a standing position.</p>
    <li>Click anywhere on the approach (The highlighted area) to select a throwing position.</li>
    <p>You will then select a target throwing position.</p>
    <li>Click and HOLD a position on the lane to begin your approach.</li>
    <p>Be quick now, your approach will have begun and it is time to hook your ball.</p>
    <li>Use the arrow keys to rotate your ball. The more times you click them, the faster your ball will rotate in the direction you pressed.</li>
    <p>Watch the animation. Release your ball to let it rip!</p>
    <li>Upon release of your mouse click, your ball will be released from your standing position towards your target.</li>
  </div>
</div>

<div id="columnThree">
</div>
