<div id="columnOne">
    <%= image_tag("xxx.png", id: "avatar") %>
  <div id="game_trophies">
  </div>
</div>

  <div id="playNow"></div>
<div id="columnTwo">
  <div id="description">
    <p></p>
    <p>Coins will be awarded in the following manner:</p>
    <ul>
      <li></li>
    </ul>
  </div>
  <div id="howTo">
    <p></p>
    <li></li>
  </div>
</div>

<div id="columnThree">
</div>
