
<div id="columnOne">
    <%= image_tag("xxx.png", id: "avatar") %>
  <div id="game_trophies">
  </div>
</div>

  <div id="playNow"></div>
<div id="columnTwo">
  <div id="description">
    <p></p>
  </div>
  <div id="howTo">
    <p></p>
  </div>
</div>

<div id="columnThree">
</div>
