<div id="columnOne">
  <div id="game_image">
  </div>
  <div id="game_trophies">
  </div>
</div>

<div id="columnTwo">
  <div id="description">
  </div>
  <div id="howTo">
  </div>
</div>

<div id="columnThree">
</div>
