<div id="cheat-page">
  <span id="title"><%= @game.name %></span>
    <br/>
    <br/>
  <form>
    Score: <input type="text" score="score" id="cheatinput">
    <br/>
    <br/>
    <div id="pullscore">Cheat Score</div>
  </form>
  <%= Game.find(@game.id).detailscore %>
</div>
