<div class="row">
  <% Game.all.each do |game| %>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
      <div id="listitem">
        <div id="gameimage">
          <a href="/games/<%= game.id %>"><%= image_tag(game.ava, id: "gameicon") %></a>
        </div>
        <div id="title">
          <h4><%= game.name %></h4>
          <div id="briefing">
            <%= game.about %>
          </div>
        </div>
        <div id="trophies">
          <h4>Trophies</h4>

              <li><strong>Today:&nbsp;</strong>
              <span id="scorefont">Score</span></li>
              <li><i>Some_User</i>&nbsp;</li>

              <li><strong>This Week:&nbsp;</strong>
              <span id="scorefont">Score</span></li>
              <li><i>Hello</i>&nbsp;</li>

              <li><strong>This Month:&nbsp;</strong>
              <span id="scorefont">Score</span></li>
              <li><i>WWWWWWWWWWWWWWWW</i>&nbsp;</li>

              <li><strong>All-Time:&nbsp;</strong>
              <span id="scorefont">Score</span></li>
              <li><i>Rockster160</i>&nbsp;</li>

        </div>
      </div>
    </div>
  <% end %>
</div>
