<div id="listitem">
  <div id="gameicon"></div>
  <div id="title">
    <h4>Bowling</h4>
  <div id="description">This is a bowling game. Refer to page to view how to play.
  I need this to be longer so it can break onto two separate lines so that I can tell where the breaks are
  so that I can see how long it is so that I can figure out how big the trophies will need to be.</div>
  </div>
  <div id="trophies">
    <h4>Trophies</h4>
    <li><b>Today:</b><i>Some user:</i> Score</li>
    <li><b>This week:</b><i>Some user:</i> Score</li>
    <li><b>This month:</b><i>wwwwwwwwwwwwwww:</i> Score</li>
    <li><b>All-Time:</b><i>Some user:</i> Score</li>
  </div>
</div>
