/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // <1k, lose C3.
 // <600 lose C1
 @import "bootstrap-sprockets";
 @import "bootstrap";

#all-header
{
  width: 90%;
  height: 10vw;
  margin: 0 5%;
}

body {
  background: #C0C0C0 url("./gamehub.png") no-repeat top;
}

#page-body {
  margin-left: 2vw;
  margin-right: 2vw;
}

#navbar {
  margin-top: 100px;
  margin-bottom: 20px;
  height: 60px;
  border: 2px solid black;
}

@media (min-width: 1101px) {
  @import "largestyler";
}

@media (max-width: 1100px) and (min-width: 591px) {
  @import "midstyler";
}

@media (max-width: 590px) {
  @import "smallstyler";
}
//Mobile screen
// @media (max-width: 1100px) and (min-width: 590) {
//   @import "midstyler";
// }
