@import 'utilities/variables';

#contact-header {
  text-align: center;
}

#whole-page-container {
  min-height: 100vh;
}

.mail-icon {
  color: #00CC00;
}

.fb-icon {
  color: blue;
}

.twtr-icon {
  color: #6699FF;
}

.black-link {
  color: black;
}

.page-wrap {
  min-height: 100%;
  position: relative;
}

footer {
  border: 1px solid $navborder;
  padding: 15px 0;
  margin: 20px 0 0 0;
  background: $navbg;
  ul {
    list-style: none;
    li {
      text-align: center;
    }
  }
}

.spac3-tech {
  font-family: 'Spac3Tech';
}
