@import 'utilities/variables';

#listitem {
  padding: 5px;
  width: 300px;
  height: 322px;
  background: $cardbg;
  border: 5px solid $cardbgdark;
  border-radius: 20px;
  margin: 5px;
  .quickplay { margin-left: 28%; }
}

#userlistitem {
  padding: 5px;
  width: 240px;
  height: 250px;
  background: $cardbg;
  border: 5px solid $cardbgdark;
  border-radius: 20px;
  margin: 5px;
}

#gameicon {
  background: $gameiconbg;
  border-radius: 15px;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 0 80px;
}

#uppercard {
  padding: 10px;
  #title { margin-bottom: 10px; }
  #briefing {
    height: 100px;
    overflow: hidden;
  }
}
#trophies {
  width: 100%;
  margin: 20px 0 0 0;
  list-style-type: none;
}
#scorefont {
  float: right;
  font-weight: bold;
  color: $money;
  text-shadow: 1px 1px 1px darken($money, 10%);
}

.game-header-btn {
  width: 200px;
  height: 70px;
  padding:10px;
  border-radius: 15px;
  background: brown;
}
#bland {
  color: grey;
  background: brown;
}
