@import 'utilities/variables';

#coin-inline {
  color: $money;
  font-weight: bold;
}

#homepage {

  #coinupdater {
    position: absolute;
    z-index: -1;
  }
  #coin { margin-top: -10px;}

  #avatar {
    padding: 5px;
    background: blue;
  }

  #favs {
    background: blue;
    padding: 5px;
    margin-bottom: 10px;
    height: 12vw;
    width: 12vw;
    @media (max-width: 750px) {
      height: 20vw;
      width: 20vw;
    }
  }

}
