@import 'utilities/variables';

#circle-image {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  padding: 4px;
  margin: 5px 15px 10px 10px;
  background: $gameiconbg;
}

#live-search-list {
  &:hover {
    background: grey;
  }
}

#coin-inline {
  color: $money;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px darken($money, 10%);
  font-weight: bold;
  z-index: 2;
  #coin {
    margin: 0 10px 0 -10px;
  }
}

#homepage {
  #coinupdater {
    position: absolute;
    z-index: 0;
    margin: -100px 0 0 -30px;
  }
  #coin { margin-top: -8px; }
  #coin-inline { font-size: 2em; }

  #avatar {
    padding: 5px;
    width: 100%;
    height: 100%;
  }

  #favs {
    background: $gameiconbg;
    padding: 5px;
    margin-bottom: 10px;
    height: 12vw;
    width: 12vw;
    @media (max-width: 500px) {
      height: 40vw;
      width: 40vw;
    }
    @media (max-width: 850px) {
      height: 20vw;
      width: 20vw;
    }
  }

}
