body {
  // background: red;
}
#columnOne {
  visibility: visible;
  float: left;
  width: 20vw;
  margin-right: 20px;

  #avatar {
    width: 100%;
    height: 30vw;
    border: solid black;
    border-radius: 100%;
    margin-bottom: 20px;
  }

  #user-about {
    padding: 1vw;
  }

  #trophiescase {
    border: 2px dotted yellow;
    height: 100px;
  }
}

#fav_col {
  visibility: visible;
    width: 50vw;
    float: left;
  #favs_box {
    width: 100%;
    height: 8vw;
    margin: 0 0 5vw 1vw;

    li:nth-child(n) {
      top: 0;
      margin-left: 0;
      position: inherit;
      display: inline;
    }
  }
    #user-fav {
      border: 0.5vw dotted purple;
      height: 100%;
      margin: 0.5vw 0.75vw 0 0.5vw;
      border-radius: 50%;
    }
}

#columnTwo {
    visibility: visible;
    width: 50vw;
    float: left;
}


#columnThree {
  visibility: visible;
  float: right;
  width: 22vw;
  height: 100vh;
  background: red;
  border-radius: 10%;
  padding: 10px;
}


#sidebar {
  position: fixed;
  top: 0;
  right: 20vw;
  height: 2vh;
  width: 4vw;
  border: solid gray;
  background: gray;
}

#popout {
  position: absolute;
  border: 2px solid green;
  background: green;
  top: -90vh;
  height: 89vh;
  width: 30vw;
}

#main {
  // margin-top: 100px;
  // width: 70%;
}
