@import 'utilities/variables';

#listitem {
  height: 120px;
  background: $blendbg;
  border: 5px solid $blendbgdark;
  border-radius: 20px;
  margin-bottom: 10px;
  // padding: 20px;
  #gameicon {
    float: left;
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dotted $border;
    margin: 5px 4vw;
  }
  #title {
    float: left;
    margin-top: -9px;
    height: 120px;
    overflow: hidden;
  }
  #trophies {
    float: right;
    margin: -10px 20px 0 0;
    list-style-type: none;
  }
  #scorefont {
    font-weight: bold;
    color: $money;
  }
}


@media (min-width: 851px) {
  #trophies {
    display: block;
  }
  #briefing {
    width: 40vw;
  }
}

@media (max-width: 850px) {
  #trophies {
    display: none;
  }
  #briefing {
    width: 60vw;
  }
}
