
  #columnOne {
    visibility: visible;
    float: left;
    width: 20vw;
    margin-right: 20px;

    #avatar {
      width: 100%;
      height: 30vw;
      border: solid black;
      border-radius: 100%;
      margin-bottom: 20px;
    }

    #user-about {
      padding: 1vw;
    }

    #trophiescase {
      border: 2px dotted yellow;
      height: 100px;
    }
  }

  #fav_col {
    visibility: visible;
      width: 70vw;
      float: left;
    #favs_box {
      width: 100%;
      height: 12vw;
      margin: 0 0 5vw 1vw;

      li:nth-child(n) {
        top: 0;
        margin-left: 0;
        position: inherit;
        display: inline;
      }
    }
      #user-fav {
        border: 0.5vw dotted purple;
        height: 100%;
        margin: 0.5vw 0.75vw 0 0.5vw;
        border-radius: 50%;
      }
  }

  #columnTwo {
      visibility: visible;
      width: 70vw;
      float: left;
  }

  #columnThree {
    visibility: hidden;
    width: 0;
    padding: 0;
  }
