#cheat-page {
  margin: 5% 0 0 40%;
  #title, #pullscore { margin-left: 50px; }
  #pullscore {
    width: 95px;
    border: 1px solid red;
    border-radius: 10px;
    background: brown;
    font-weight: bold;
    padding: 5px;
  }
}
