@import 'utilities/variables';

#columnOne {
  visibility: visible;
  float: left;
  width: 40vw;
  #avatar {
    width: 100%;
    height: 60vw;
    border: solid black;
    border-radius: 100%;
    margin-bottom: 20px;
  }
  #trophiescase {
    border: 2px dotted $money;
    height: 100px;
  }
}

#fav_col {
    visibility: visible;
    width: 45vw;
    float: left;
  #favs_box {
    width: 100%;
    height: 60vw;
    list-style-type: none;
    li:not(:first-child) { position: relative; }
    li:nth-child(2) { top: -10vw; }
    li:nth-child(3) { top: -20vw; }
    li:nth-child(4) { top: -30vw; }
    li:nth-child(5) { top: -40vw; }
    li:nth-child(2n) { margin-left: 40%; }
  }

  #user-fav {
    border: 0.5vw dotted $border;
    height: 20vw;
    border-radius: 50%;
  }
}

#columnTwo {
    visibility: visible;
    width: 45vw;
    float: left;
    border-radius: 20px;
    // background: orange;
    padding: 20px;
    width: 100%;
}

#columnThree {
  // visibility: hidden;
  // z-index: 100;
}

#clicksidebar {
  z-index: 100;
  visibility: visible;
  border: 5px solid $blendbgdark;
  border-radius: 100% 0 0 100%;
  position: fixed;
  right: -5px;
  top: 40vh;
  height: 200px;
  width: 40px;
  background: #888;
  #sidebaricon {
    position: relative;
    right: 0;
    top: 45%;
    margin-top: 0px;
  }
}
